force-app/main/default/flows/Mastermind.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Reset_game</name>
        <label>Reset game</label>
        <locationX>455</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>guess_digit_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guess_digit_2</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guess_digit_3</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guess_digit_4</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingAttempts</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Code_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_guesses</name>
        <label>Store guesses</label>
        <locationX>723</locationX>
        <locationY>835</locationY>
        <assignmentItems>
            <assignToReference>guess_digit_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>slider_digit_1.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guess_digit_2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>slider_digit_2.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guess_digit_3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>slider_digit_3.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>guess_digit_4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>slider_digit_4.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingAttempts</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_correct</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_correct</name>
        <label>All correct?</label>
        <locationX>716</locationX>
        <locationY>608</locationY>
        <defaultConnector>
            <targetReference>Do_we_have_any_attempts_remaining</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, not all are correct</defaultConnectorLabel>
        <rules>
            <name>Yes_all_are_correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iscorrect_digit_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iscorrect_digit_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iscorrect_digit_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iscorrect_digit_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Congrats</targetReference>
            </connector>
            <label>Yes, all are correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_any_attempts_remaining</name>
        <label>Do we have any attempts remaining</label>
        <locationX>171</locationX>
        <locationY>618</locationY>
        <defaultConnector>
            <targetReference>failure_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No attempts remaining</defaultConnectorLabel>
        <rules>
            <name>Yes_we_do_have_attempts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemainingAttempts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Main_Screen</targetReference>
            </connector>
            <label>Yes, we do have attempts</label>
        </rules>
    </decisions>
    <formulas>
        <name>Correctcount</name>
        <dataType>Number</dataType>
        <expression>IF({!iscorrect_digit_1}, 1, 0) + IF({!iscorrect_digit_2}, 1, 0) + IF({!iscorrect_digit_3}, 1, 0) + IF({!iscorrect_digit_4}, 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>iscorrect_digit_1</name>
        <dataType>Boolean</dataType>
        <expression>{!pw_numdigit_1} = {!guess_digit_1}</expression>
    </formulas>
    <formulas>
        <name>iscorrect_digit_2</name>
        <dataType>Boolean</dataType>
        <expression>{!pw_numdigit_2} = {!guess_digit_2}</expression>
    </formulas>
    <formulas>
        <name>iscorrect_digit_3</name>
        <dataType>Boolean</dataType>
        <expression>{!pw_numdigit_3} = {!guess_digit_3}</expression>
    </formulas>
    <formulas>
        <name>iscorrect_digit_4</name>
        <dataType>Boolean</dataType>
        <expression>{!pw_numdigit_4} = {!guess_digit_4}</expression>
    </formulas>
    <formulas>
        <name>pw_numdigit_1</name>
        <dataType>Number</dataType>
        <expression>VALUE(MID({!Enter_your_secret_code}, 1, 1))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>pw_numdigit_2</name>
        <dataType>Number</dataType>
        <expression>VALUE(MID({!Enter_your_secret_code}, 2, 1))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>pw_numdigit_3</name>
        <dataType>Number</dataType>
        <expression>VALUE(MID({!Enter_your_secret_code}, 3, 1))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>pw_numdigit_4</name>
        <dataType>Number</dataType>
        <expression>VALUE(MID({!Enter_your_secret_code}, 4, 1))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Mastermind {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mastermind</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Congrats</name>
        <label>Congrats</label>
        <locationX>714</locationX>
        <locationY>251</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_game</targetReference>
        </connector>
        <fields>
            <name>success_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 8, 255); font-size: 22px;&quot;&gt;YOU GOT THEM ALL RIGHT WITH {!RemainingAttempts} ATTEMPTS REMAINING!!!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yay</name>
            <extensionName>c:FlowConfettiCMP</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Code_Screen</name>
        <label>Enter Code Screen</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Do_we_have_any_attempts_remaining</targetReference>
        </connector>
        <fields>
            <name>Enter_your_secret_code</name>
            <fieldText>Enter your secret code</fieldText>
            <fieldType>PasswordField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>failure_message</name>
        <label>Failure</label>
        <locationX>457</locationX>
        <locationY>480</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_game</targetReference>
        </connector>
        <fields>
            <name>failure_message_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;YOU RAN OUT OF TIME, YOU STINK!!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Main_Screen</name>
        <label>Main Screen</label>
        <locationX>179</locationX>
        <locationY>835</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Store_guesses</targetReference>
        </connector>
        <fields>
            <name>Main_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(208, 204, 204);&quot;&gt;D1:  {!pw_numdigit_1}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(208, 204, 204);&quot;&gt;D2:  {!pw_numdigit_2}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(208, 204, 204);&quot;&gt;D3:  {!pw_numdigit_3}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(208, 204, 204);&quot;&gt;D4:  {!pw_numdigit_4}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;You have {!RemainingAttempts} attempts remaining.  Do better, chump.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;As of now, you have {!Correctcount} digits correct.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>slider_digit_1</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Digit 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>9.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>guess_digit_1</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>slider_digit_2</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Digit 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>9.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>guess_digit_2</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>slider_digit_3</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Digit 3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>9.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>guess_digit_3</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>slider_digit_4</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Digit 4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>9.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>guess_digit_4</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Enter_Code_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>guess_digit_1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>guess_digit_2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>guess_digit_3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>guess_digit_4</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RemainingAttempts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>15.0</numberValue>
        </value>
    </variables>
</Flow>
